<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity_kind.title %>
</p>

<%= link_to 'Edit', edit_activity_kind_path(@activity_kind) %> |
<%= link_to 'Back', activity_kinds_path %>
