<table class="table">
<thead>
  <tr>
    <%= simple_form_for [@product_id, Comment.new] do |f| %>
      <div class="form-group">
        <div class="field">
          <div id="star-rating"></div>
        </div>
        <%= f.file_field :images , multiple: true, name: "comment[images][]"%>
        <%= f.input :content%>
      </div>
    </br>
      <div class="form-actions">
        <%= f.submit %>
      </div>
    <% end %>

  </tr>
</thead>
<tbody>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
</script>
