<div class="content">
<%= simple_form_for [@product_id, @comment] do |f| %>
<div class="detail6">
	<h2>編輯留言</h2>
	<div class="inputs">
	  <div class="field">
      <div id="star-rating"></div>
    </div>
		<div id="message2">
      <%= f.input :content , label: '我有話要說：'%>
		</div>
		<div class="upload">
		  <%= f.file_field :images, multiple: true, name: "comment[images][]"%>
			<input type="submit" name="commit" value="修改留言">
		</div>
	</div>
</div>
<% end %>
</div>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
</script>
