<div class="form-group">
    <label for="exampleFormControlSelect1">活動類型</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <label for="exampleFormControlSelect1">地區</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>北部</option>
      <option>中部</option>
      <option>南部</option>
      <option>東部</option>
    </select>
    <label for="exampleFormControlSelect1">人數限制</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1-2</option>
      <option>2-3</option>
      <option>3-4</option>

    </select>
  </div>
