<li class="filter-item-react">
  <span class="filter-item-info" data-element-name="search-filter" data-element-index="0">
    <span>
      <% @people_numbers.each do |i| %>
        <% checked = @p && @p.collect(&:id).include?(i.id) %>
        <%= check_box_tag "people_number_ids[]", i.id, checked, :id  => "#{i.id}" ,class: "checkbox_submit"%>
        <%= i.title %></p>
      <% end %>
    </span>
  </span>
</li>
