<div class="container about_us">
  <div class="row">
    <div class="col-md-4 ">
      <div class="about_us_image">
        <%=image_tag("logo.png")%>
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="pb-3"><span class="title" style="font-size: 35px;">PARTY</span> HELPER</h2>
      <p style="font-size: 18px;line-height: 1.5;">的宗旨是希望可以成為學生辦活動的最佳小幫手，<br/>
      節省學生團體辦活動籌備過程所需要花的時間。</p>
      <p style="font-size: 18px;line-height: 36px;">並且成為學生要辦活動的第一時間就能想起的網站。</p>
      <p style="font-size: 18px;line-height: 1.5;">"Party Helper" 團隊是來自NTUB IMD的四個學生，<br/>
      因為以往辦活動的經驗而啟發，<br/>
      希望我們的網站可以成為幫助大家的小幫手。</p>
    </div>
  </div>
</div>
