<div class="container">
  <div class="row my-5">
    <div class="col-4">
      <%=image_tag("logo.png", size:"300x300")%>
    </div>
    <div class="col-8">
      <h2 class="pb-3">PARTY HELPER</h2>
      <p style="font-size: 16px;line-height: 36px;">
        進入數位化的時代，凡事都講求數位化，對於學生辦活動尋找相關的周邊廠商而言，沒有一個統一的網站是非常不方便的事。如果能透過一個 整合過的網站，提供他們選擇與比較最適合的廠商，並且給予聯絡方式及相關資訊等，比起花時間在網路上進行繁複的搜索來的方便快速許多。 
      </p>
      <p style="font-size: 16px;line-height: 36px;">
        利用Party Helper選好所有理想的廠商，便可以透過網站蒐藏功能，進行最後一步的比較篩選，選取最合適的廠商，再由網站所提供的聯絡方式，進行後續聯絡的相關事宜。 
      </p>
    </div>
  </div>
</div>