<div class="container about_us">
  <div class="row">
    <div class="col-md-5">
      <div class="about_us_image">
        <%=image_tag("logo.png")%>
      </div>
    </div>
    <div class="col-md-7">
      <h2 class="pb-3"><span class="title" style="font-size: 35px;">PARTY</span> HELPER</h2>
      <p>我們的宗旨是希望能節省學生團體找廠商所需要花費的時間，<br/>
      並且成為學生要辦活動的第一時間就能想起的網站。</p>
      <p>"Party Helper" 團隊是來自臺北商業大學資管系的四個學生，<br/>
      因為以往辦活動的經驗而啟發，<br/>
      希望我們的網站可以成為幫助學生辦活動的小幫手。</p>
    </div>
  </div>
</div>


