<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="row">
  <div class="col-3 card text-black">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-hUSE_rIx4G7Rg7DyTbhkma9wLEo4hhEBeQRRhSa1gVU3vh8" alt="Card image">
    <div class="card-img-overlay">
      <%= link_to "找食物" , foods_path , class: "card-title h5" %>
    </div>
  </div>
  <div class="col-3 card text-black">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-hUSE_rIx4G7Rg7DyTbhkma9wLEo4hhEBeQRRhSa1gVU3vh8" alt="Card image">
    <div class="card-img-overlay">
      <%= link_to "找設備" , equipments_path , class: "card-title h5" %>
    </div>
  </div>
  <div class="col-3 card text-black">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-hUSE_rIx4G7Rg7DyTbhkma9wLEo4hhEBeQRRhSa1gVU3vh8" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

    </div>
  </div>
  <div class="col-3 card text-black">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-hUSE_rIx4G7Rg7DyTbhkma9wLEo4hhEBeQRRhSa1gVU3vh8" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4 card text-black">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-hUSE_rIx4G7Rg7DyTbhkma9wLEo4hhEBeQRRhSa1gVU3vh8" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="col-4 card text-black">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-hUSE_rIx4G7Rg7DyTbhkma9wLEo4hhEBeQRRhSa1gVU3vh8" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="col-4 card text-black">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-hUSE_rIx4G7Rg7DyTbhkma9wLEo4hhEBeQRRhSa1gVU3vh8" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
