default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgresql
  password: pass
  host:     <%= ENV['IP'] %>
 
 development:
  <<: *default
 database: shuyu
  
 test:
  <<: *default
 database: shuyu
 
 production:	
  <<: *default	  
 database: shuyu 