<h1>蒐藏清單</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>名稱</td>
      <td>地址</td>
    </tr>
  </thead>
  <tbody>
    <% current_cart.items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.product.location %></td>
        <td><%= link_to  "刪除",cart_path , method: :delete ,class: "btn btn-default btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot></tfoot>
</table>

<%= link_to '清空所有蒐藏', cart_path, method: :delete, class: "btn btn-default btn-danger" %>
