<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @people_number.title %>
</p>

<%= link_to 'Edit', edit_people_number_path(@people_number) %> |
<%= link_to 'Back', people_numbers_path %>
