/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap";

body{
  color: #000;
  font-size: 14px;
  line-height: 1.6em;
  background-color: #FFF;
}

.logo{

  font-weight: 900;
  font-size: 25px;
}

.navbar-toggler{
  float: right;
  z-index: 99;
}

.navbar{
  background-color: rgba(211, 211, 211,0.2);
  position: fixed;
  width: 100%;
}

.dropdown-menu{
  a:hover{
    background-color: rgba(211, 211, 211,0.5);
  }
  background-color: rgba(211, 211, 211,0.2);
}


span.title{
  color: rgb(27,189,54);
  font-weight: 900;
  font-size: 25px;
}

footer{
  background-color: rgba(77,140,105,0.2);
}

.item{
  color: #fff;
  a:hover{
    color: #1BBD36;
  }
}

.card{
  background-color: rgba(43, 131, 122, 0.3)
}

.bkgrdimg{
  img{
    width: 100%;
    height: 600px;
  }
  z-index: 0px;
}

.bkgrdimg_letters {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
  height: 100%;
}
.bkgrdimg_letters .letters {
  position: absolute;
  margin: auto;
  left: 45%;
  top: -600px;
  right: auto;
  opacity: 0;
  z-index: 90px;
  text-align:center;
}
