/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fancybox
 *= require_tree .
 *= require_self
 *= require jquery-ui


 */
@import "bootstrap";

body{
  color: #000;
  font-size: 14px;
  line-height: 1.6em;
  background-color: #FFF;
  font-family: 'Noto Sans TC', sans-serif;
}
.alert{
  margin: 0px;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.logo{
  font-weight: 900;
  font-size: 25px;
  img{
    height: 60px;
    width: 60px;
  }
}
.logo:hover{
  text-decoration: none;
  color: #666666;
}

//navbar
.navbar-toggler{
  z-index: 99;
}
.navbar{
  background-color: #e7f1f1;
  width: 100%;
  z-index: 99;
}
.dropdown-menu{
  a:hover{
    background-color: #fff;
  }
  background-color: #e7f1f1;
}
.navbar-nav{
  font-size: 18px;
  font-family: '微軟正黑體', sans-serif;
}

//footer
span.title{
  color: rgb(27,189,54);
  font-weight: 900;
  font-size: 25px;
}
footer{
  background-color: rgba(77,140,105,0.2);
  clear: both;
}
.item{
  color: #fff;
  a:hover{
    color: #1BBD36;
  }
}
.card{
  background-color: rgba(43, 131, 122, 0.3);
}

//index 看板
.bkgrdimg{
  img{
    width: 100%;
    height: 600px;
  }
  z-index: 0px;
}

//首頁icon
.grid-container i{
  background: #2AC090;
}
.hi-icon-effect i.fa:hover{
  color: #2AC090;
}
.grid-container h2{
  color: #1FA479
}
//關於我們
.about_us{
  padding-top: 120px;
  padding-bottom: 20px;
  .about_us_image{
    img{
      max-width: 50%;
      max-height: 50%;
      margin: auto;
      float: right;
      padding-top: 5px;
    }
  }
  p{
    font-size: 18px;
    line-height: 1.5;
  }
}

//登入登出
div.devise_content{
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	background-image: image-url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
div.devise_content h3{
	font-size: 40px;
	margin-top: 50px;
}
div.devise_content .container{
  width: 500px;
  background:rgba(175,175,175,0.3);
  border-radius: 50px;
  margin-top: 20px;
}
div.login{
  margin-left:50px;
  margin-right:50px;
	font-size: 36px;
  .devise_inputs{
    width: 100%;
  }
  .devise_link{
    padding-bottom: 30px;
  }
  .devise_link a{
    color: #3F3D3D;
  }
}
div.login form{
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
}
div.login .devise_btn{
	font-size: 16px;
	background: initial;
	border: none;
	color: #000;
}
.login .btn{
  background: #73aea8;
  border: #73aea8;
  color: #fff;
}
.login form input{
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px;
}
small{
  margin-bottom: 10px;
}

//活動性質篩選
div.activitycontent{
	padding-top: 60px;
	height: auto;
	margin-top: 40px;
}
#searchbar{
  overflow: auto;
  height: 90%;
  float: left;
  width: 250px;
}
#joinedFilterList {
  border: 1px solid #ddd;
  border-radius: 5px;
}
#searchPageLeftColumn .filter-list.filter-list-react {
  margin: 0;
}
#searchPageRightColumn {
  float: right;
}
.filter-list ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
.filter-list--vertical .filter-box {
  border-top: 1px solid #e8e8e8;;
  margin-bottom: 0;
  padding: 0 14px;
  margin: 0 10px;
  border-top: 1px solid #e8e8e8;
}
.ficon-filter-icon:before {
  background: url(search_icon-04.png) 0 3px no-repeat;
  background-size: 20px;
  content: "";
  display: inline-block;
  height: 23px;
  width: 21px;
}
.filters-header-text {
  padding: 13px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  background-color: #2b837a;
  color: #fff;
  box-sizing: border-box;
}
.ficon {
  font-family: icons;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 3px;
}
.filters-header-text p {
  margin: 0;
  display: inline-block;
}
.checkbox-icon{
  margin-top: 10px;
}
.filter-menu {
  cursor: text;
  font-size: 18px;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 18px;
}
.filter-item-info{
  font-size: 16px;
}
.search_bar .fixed{
  position: fixed;
  top: 80px;
}

//gmap
.gm-style div > div:last-child > div > div:first-child > div {
    background: #fff !important;
    color: #000;
}
.gm-style div > div:last-child > div > div:first-child > div:nth-child(3) > div div {
    background-color: #fff !important;
}
.gm-style div > div:last-child > div > div:first-child > div:first-child {
    background: transparent !important;
}


//comment page
.digg_pagination {
  display: inline-flex;
  background: white;
  cursor: default;
  padding-bottom: 10px;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #40aab7;
    color: white;
    border: 1px solid #40aab7; }
  .digg_pagination a {
    text-decoration: none;
    color: #40aab7;
    border: 1px solid #74747466; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #fff;
      background-color: #40aab7; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }


//gmap
.gmapcontent{
  padding-top: 40px;
	height: auto;
	margin-top: 40px;
	font-family: "微軟正黑體", sans-serif;
	text-align: center;
	margin-bottom: 40px;
}


//蒐藏庫寄信頁面
.nav-tabs{
  border-bottom: 1px solid #2b837a;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #2b837a #2b837a #fff;
}


//fancybox
#fancybox-close{
  right: -35px;
}


//寄件夾
.mattercontent{
  padding-top: 100px;
	height: auto;
	h2{
	  font-weight: 600;
	  color: #075950;
	  text-align: center;
	  letter-spacing: 3px;
	}
	.container{
	  width: 70%;
	}
	.matter_menu{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
	right: auto;
	left: auto;
  }
  .matter_title {
    margin-top: 10px;
    text-align: center;
    font-family: '微軟正黑體';
  }
  .matter_title button{
    border: 0;
    background: #fff;
    padding-right: 20px;
  }
  .matter_title button img{
    margin-right: 5px;
  }
  .matter_title > div {
    display: inline-block;
    font-size: 24px;
    margin: 0 10px;
  }
  .matter_title > div :hover{
    color: #2b837a;
    text-decoration: underline;
  }
  .click_log{
    letter-spacing: 3px;
  }
  .categor{
    padding-bottom: 40px;
    text-align: center;
  }
  .categor table{
    text-align: left;
  }
  
}
thead{
  background: #bfdad7;
}
thead th:nth-child(1),tbody td:nth-child(1){
  width: 40px;
}
thead th:nth-child(2),tbody td:nth-child(2){
  width: 150px;
}
thead th:nth-child(3),tbody td:nth-child(3){
  width: 200px;
}
thead th:nth-child(4),tbody td:nth-child(4){
  width: 280px;
}
.tbody  td:nth-child:hover{
  background: #000;
}

@media (max-width: 1000px) {
  //navbar
  .navbar-nav{
  font-size: 26px;
  }
  .nav-item{
    padding-bottom: 15px;
  }
  .logo{
    font-weight: 900;
    font-size: 30px;
    img{
      height: 70px;
      width: 70px;
    }
  }
  span.title{
    font-size: 30px;
  }
  .dropdown-menu{
  font-size: 24px;
  }
  .dropdown-item{
    padding-bottom: 15px;
  }
  
  //about頁面
  .about_us{
    .about_us_image{
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    p{
    font-size: 20px;
    }
  }
  
  //各廠商index篩選列
  .filter-menu {
    font-size: 24px;
  }
  .filter-item-info{
    font-size: 20px;
  }
 #searchbar{
    float: none;
    width: 100%;
  }
  #searchPageRightColumn {
    float: none;
  }
  
  //寄件夾欄位
  .mattercontent{
    .container{
      width: 100%;
    }
  }
  .table{
    font-size: 24px;
  }
  thead th:nth-child(1),tbody td:nth-child(1){
  font-size: 18px;
  }
  thead th:nth-child(2),tbody td:nth-child(2){
    font-size: 18px;
  }
  thead th:nth-child(3),tbody td:nth-child(3){
    font-size: 18px;
  }
  thead th:nth-child(4),tbody td:nth-child(4){
    font-size: 18px;
  }

}
