/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require commontator/application
 */
@import "bootstrap";

.body{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
}

.navbar{
  display: block;
  min-height: 70px;
  position: fixed;
  width: 100%;
  padding: 0px;
  background-color: #fff;
}

.logo{
  display: inline;
  font-weight: 900;
  font-size: 25px;
}
.navbar-header{
  float: left;
}

.navigation{
  background-color: #fff;
  padding: 0;
  display: block;
}

.navbar-expand-lg .navbar-collapse{
  height: 70px;
}

.navbar-toggler{
  float: right;
  margin-top: 20px;
  z-index: 99;
}

span{
  color: rgb(27,189,54);
  font-weight: 900;
  font-size: 25px;
}
