// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.content{
	padding-top: 20px;
	height: auto;
	padding-bottom: 20px;
}
.content .card p{
  font-size: 14px;
  margin: 0;
  line-height: 24px;
}
div.message1{
	margin:0 auto;
	right: auto;
	left: auto;
	width: 70%;
	border-radius: 5px;
	font-family: "Rubik", sans-serif;
  transition: 300ms;
}
.message1:hover {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: 300ms;
}
.card-text h3{
  border-bottom: 1px #000 solid;
  padding-bottom: 5px;
}
.card-text{
  text-align: left;
}
.message1 .card{
  padding: 10px 0;
}
.cardimg{
  padding-top: 5px;
}
.card input{
 width: 20px;
 height: 20px;
 margin-right: 10px;
}
.trace_delete{
  padding-top: 35px;
}
.cartbtn .btn{
	background: #2b837a;
	color: #fff;
	border: #2b837a;
	text-align: center;
}
.cartbtn .btn:hover{
	background: #2b837a;
}
.trace_delete button{
  border: 0;
  background: #bfdad7;
}

//上方選取列
.sub_menu{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
	right: auto;
	left: auto;
	width: 70%;
}
.sub_title {
  margin-top: 10px;
  text-align: center;
  font-family: '微軟正黑體';
}
.sub_title button{
  border: 0;
  background: #fff;
}
.sub_title button img{
  margin-right: 5px;
}
.sub_title > div {
  display: inline-block;
  font-size: 24px;
  margin: 0 10px;
}
.sub_title > div :hover{
  color: #2b837a;
  text-decoration: underline;
}
.click_log{
  letter-spacing: 3px;
}