// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.cartcontent{
	padding-bottom: 20px;
	text-align: center;
	padding-top: 40px;
	height: auto;
	margin-top: 40px;
	font-family: "微軟正黑體", sans-serif;
	height: -webkit-fill-available;
}
.cartcontent .card p{
  font-size: 14px;
  margin: 0;
  line-height: 24px;
}
div.message1{
	margin: 0 auto;
	right: auto;
	left: auto;
	width: 70%;
	border-radius: 5px;
	font-family: "Rubik", sans-serif;
  transition: 300ms;
}
.message1:hover {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: 300ms;
}
.card-text h3{
  border-bottom: 1px #000 solid;
  padding-bottom: 5px;
}
.card-text{
  text-align: left;
}
.message1 .card{
  padding: 10px 0;
}
.message1 .card input{
  width: 20px;
  height: 20px;
  margin-top: 50px;
}
.message1 .trace_delete{
  padding-top: 50px;
}
.message1 .trace_delete button{
  border: 0;
  background: #bfdad7;
}
.cartbtn .btn{
	background: #73aea8;
  border: #73aea8;
  color: #fff;
}
.cartbtn .btn:hover{
	background: #2b837a;
}
//上方選取列
.sub_menu{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
	right: auto;
	left: auto;
	width: 70%;
}
.sub_title {
  margin-top: 10px;
  text-align: center;
  font-family: '微軟正黑體';
}
.sub_title button{
  border: 0;
  background: #fff;
}
.sub_title img{
  margin-right: 2px;
}
.sub_title > div {
  display: inline-block;
  font-size: 24px;
  margin: 0 10px;
}
.sub_title > div :hover{
  color: #2b837a;
  text-decoration: underline;
}
.click_log{
  letter-spacing: 3px;
}

//蒐藏庫寄信
.cart_content{
	padding: 100px 0 60px 0;
	text-align: center;
	font-family: '微軟正黑體';
	.form-actions{
	  padding: 10px 0;
	}
}
.cart_content h3{
	padding-top: 10px;
}
.cart_content .container{
  width: 600px;

}
.cartform{
  margin-left: 50px;
  margin-right: 50px;
	font-size: 36px;
	padding: 20px;
}
.cartform form{
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}
.cartform .btn{
  background: #73aea8;
  border: #73aea8;
  color: #fff;
}
.cart_content .categor{
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #2b837a;
}
.cart_content .sub_title button{
  font-size: 18px;
  border: 0;
  border-color: #2b837a;
}
.textinput{
	margin-bottom: 10px;
	font-size: 16px;
  width: 100%;
  height: 100px;
}
textarea:disabled{
  background: #e9ecef;
}

//寄信預覽
.modal-header{
  h4{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 5px;
  }
}
.modal-body{
  span{
    font-size: 18px;
    color: #185353;
    border-left: 5px solid #185353;
    padding-left: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: underline;
  }
  p{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 10px 0 20px 0;
  }
}


@media (max-width: 1000px) {
  div.cartcontent{
    margin-top: 50px;
  }
  .sub_menu{
    width: 90%;
  }
  div.message1{
  	width: 100%;
  	.card-text h3{
  	  font-size: 36px;
  	}
  	.card-text p{
  	  font-size: 24px;
  	  line-height: 30px;
  	}
  	.trace_delete img{
  	  width: 30px;
  	}
  }
  .sub_title {
  margin-top: 10px;
  text-align: center;
  font-family: '微軟正黑體';
  }
  .sub_title button {
  font-size: 30px;
  line-height: 30px;
  }
  .sub_title button img{
   margin-right: 2px;
   width: 30px;
   height: 30px;
  }
  .cartbtn .btn{
    font-size: 24px;
  }
}
