// Place all the styles related to the Grounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index頁面
.card p{
	font-size: 18px;
}
.card-text a{
	margin-right: 15px;
}
.cardbtn{
	position: absolute;
  bottom: 5px;
  right: 5px;
}
.cardbtn .btn{
	background: #008B5D;
	color: #fff;
}
.cardbtn .btn:hover{
	background: #2b837a;
}
.cardleft{
	border-right: #acc3c0 1px solid;
}
.card-text{
	padding-bottom: 10px;
}
.cardscroll{
	overflow: auto;
	height: 170px;
}
.cardscroll::-webkit-scrollbar {
    width: 8px;
}
.cardscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cardscroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #2b837a; 
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}

//show頁面
div.content{
	padding-top: 40px;
	height: auto;
	margin-top: 40px;
	font-family: "微軟正黑體", sans-serif;
}
.addbtn{
	float: right;
}
.addbtn .btn{
	background: rgba(43, 131, 122, 0.5);
	color: #fff;
}
.addbtn .btn:hover{
	background: #2b837a;
}
div.detail{
	margin: 0 auto;
	width: 70%;
	height: 100%;
	background-color: rgba(43, 131, 122, 0.3);
	border-radius: 10px;
	padding: 50px;
}
.name p{
	font-size: 36px;
	line-height: 36px;
}
div.introduce{
	height: 150px;
	h2{
		p{
			margin: 0px 50px 1rem 50px;
		}
	}
}
.eachProgramTitle {
    color: #5E5D5D;
    font-size: 28px;
    letter-spacing: 2px;
    border-bottom: #5E5D5D solid 1px;
    margin: 50px 0 20px 0;
}
.pull-right{
	float: right;
	font-size: 16px;
}

/*------------show.html各別廠商圖片------------*/

.bnb-images {
    width: 100%;
}
.image-centered, .bnb-images .lg-img, .bnb-images .sm-img-1, .bnb-images .sm-img-2, .bnb-images .sm-img-3, .bnb .bnb-image-overlay .bnb-image-overlay-content .bnb-image-nav .bnb-nav-image, .room-type-card-content .room-image, .slick-box .slick-container .slider-nav .slider-nav-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bnb-image-container, .bnb-images .lg-img, .bnb-images .sm-img-1, .bnb-images .sm-img-2, .bnb-images .sm-img-3 {
    display: block;
    float: left;
}
.bnb-images .sm-img-3 .bnb-image-layer {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bnb-images .sm-img-3 .more-images {
    position: absolute;
    top: 90px;
    bottom: 90px;
    right: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
.bnb-images .lg-img {
    width: 56%;
    height: 400px;
    margin-right: 8px;
}
.bnb-images .sm-img-1 {
    width: calc(44% - 12px);
    height: 200px;
    margin-bottom: 8px;
}
.bnb-images .sm-img-2 {
    width: calc(28% - 10px);
    height: 191px;
    margin-right: 8px;
}
.bnb-images .sm-img-3 {
    width: calc(16% - 10px);
    height: 191px;
    position: relative;
    cursor: pointer;
}
.clearfix {
    clear: both;
}
.clearfix {
    zoom: 1;
}


/*------------TOP------------*/
div.backtotop{
	position: fixed;
	right: 11%;
	bottom: 5%;
}
a.top{
	border-radius: 50%;
	background-color: rgba(255,255,255,0.0);
	color: aquamarine;
	border: none;
	width: 100px;
	height: 100px;
	text-decoration: none;
}
a.top img{
	width: 30px;
	height: 30px;
}


@media (max-width: 1000px) {
  div.detail{
  	width: 85%;
  }
  div.backtotop{
	position: fixed;
	right: 3%;
	bottom: 5%;
}
}